################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/obj/Debug
/LiveSplit.Epistory.csproj.user
/bin
/obj/Release
/.vs/LiveSplit.Epistory/v15/.suo
/Components/Epistory Info.exe
