################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/obj/Debug
/LiveSplit.Epistory.csproj.user
/bin
/obj/Release
